.banner__search { 
  background: url("../../../dist/img/banner.jpg") center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  top: 92px;
  z-index: 3;
}
.banner {
  width: 100%;
  height: 500px;
}
.title__banner { 
  position: absolute;
  top: 20%;
  z-index: 4;
  color: #ffffff;
}
.title__banner .title__h1 { 
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}
.search__form, .search__to  { 
    width: 275px;
    height: 50px;
    padding-left: 5%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
.btn__search { 
  background-color: #F8AE00;
    border: 1px solid #666;
    width: 220px;
    height: 50px;
    font-weight: 700;
    outline: none;
    font-size: .8rem;
    cursor: pointer;
    margin: 0px 5px;
    color: #666;
    border-radius: 1px;
    margin-right: 20px;
}
.search__trips { 
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 3;
}
.from__trip, .to, .calendar { 
  width: 280px;
  height: 50px;
  border-radius: 1px;
}