
.pixel-spinner, .pixel-spinner * {
  box-sizing: content-box;
}

.pixel-spinner {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.pixel-spinner .pixel-spinner-inner {
  width: calc(70px / 7);
  height: calc(70px / 7);
  background-color: #6cb5df;
  color: #6cb5df;
  box-shadow: 15px 15px  0 0,
              -15px -15px  0 0,
              15px -15px  0 0,
              -15px 15px  0 0,
              0 15px  0 0,
              15px 0  0 0,
              -15px 0  0 0,
              0 -15px 0 0;
  animation: pixel-spinner-animation 2000ms linear infinite;
}

@keyframes pixel-spinner-animation {
  50% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  75% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  100% {
    transform: rotate(360deg);
  }
}