.login-form-button{
  width: 100%;
  background: #007BFF;
  color: white;
  height: 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
}
.title__login{
  color: #eb0f07;
}
.ant-checkbox-wrapper{
  float: left;
}
.login-form-forgot{
  float: right;
  text-decoration: none;
}
.button__login__google{
  width: 100%;
  background-color: #EA4335 !important;
  height: 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin: 8px 0;
}
.button__login__facebook{
  width: 100%;
  background-color: #3B5998 !important;
  height: 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.modal-content { 
  width: 80% !important;
  margin: 0 auto;
}
.button__login__facebook:hover, .button__login__google:hover{
  color: #ffff !important;
}
